<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="loadReady" class="card"  style="min-height:15rem;">
    <ion-card-header>
      <ion-card-title class="card-title">Bienvenido, {{patientLogged.pnombrePaciente}} {{patientLogged.apaternoPaciente}}</ion-card-title>
      <ion-card-subtitle>{{date | date :'MMMM d, YYYY'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-header>
      <ion-card-title class="card-title">Sus horas médicas activas</ion-card-title>
    </ion-card-header>
    <ng-container *ngIf="setHours.length!=0">
      <ion-list *ngFor="let hr of setHours">
        <ion-item lines="full" class="item-list">
          <ion-icon slot="start" name="calendar-outline"></ion-icon>
          <ion-label><b>{{hr.fecha}}</b></ion-label>
          <ion-label style="text-align: center;">{{hr.hora}}</ion-label>
          <ion-label>Dr. {{hr.nombreMedico}}</ion-label>
        </ion-item>
      </ion-list>
    </ng-container>
    <ion-card-content><ion-label *ngIf="setHours.length == 0">No tiene horas agendadas</ion-label></ion-card-content>
  </ion-card>
  <app-btn-router page="/tab-paciente/pagina-busqueda" label="Agendar Hora Médica" icon="calendar-number-outline"></app-btn-router>
  <app-btn-router page="/tab-paciente/schedule-hours" [dataToSend]="setHours" label="Ver Horas Agendadas" icon="alarm-outline"></app-btn-router>
