<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles Cita {{ cita.dia }}/{{ cita.mes }}/{{ cita.anno }}</ion-title>
    <ion-buttons slot="start">
      <app-btn-back page="/tab-paciente/schedule-hours"></app-btn-back>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title><b>Dr. {{ cita.nombreMedico }}</b></ion-card-title>
      
    </ion-card-header>
    <ion-card-content class="content-flex">
      <div class="rows">
        <ion-label><b>Fecha {{ cita.dia }}/{{ cita.mes }}/{{ cita.anno }}</b></ion-label>
        <ion-label>RUN: {{ cita.numrunMedico }}-{{cita.dvrun}}</ion-label>
        <ion-label>Especialidad:</ion-label>
        <ion-label>{{ cita.especialidad }}</ion-label>
      </div>
      <div class="rows">
        <ion-label><b>Hora de Atención:</b></ion-label>
        <ion-label>{{cita.hora}}</ion-label>
        <ion-label><b>Box de Atención:</b></ion-label>
        <ion-label>{{cita.box}}</ion-label>
      </div>
      
    </ion-card-content>
  </ion-card>
  <ion-button *ngIf="cita.estado == 1" class="btn" (click)="confirmAlert(cita.id)">Cancelar Cita</ion-button>
</ion-content>
