<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Panel de Médico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="loadReady" class="card">
    <ion-card-header>
      <ion-card-title class="card-title">Bienvenido, Dr. {{ medicLogged.pnombreMedico }} {{ medicLogged.apaternoMedico }} {{ medicLogged.amaternoMedico}}</ion-card-title>
      <ion-card-subtitle>{{date | date :'MMMM d, YYYY'}}</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content *ngFor="let hr of todayAgenda">
      <ng-container *ngIf="todayAgenda.length != 0">
        <ion-label>Nro. de pacientes el día de hoy: {{todayAgenda.length}}</ion-label>
      </ng-container>
    </ion-card-content>
    <ion-card-content *ngIf="todayAgenda.length == 0">
      <ion-label>No tiene pacientes hoy</ion-label>
    </ion-card-content>
  </ion-card>
  <app-btn-router page="/tab-medico/patient-list" label="Ver Todas las horas agendadas"></app-btn-router>
  <app-btn-router page="/tab-medico/medic-hours" label="Configurar Horarios de Atención"></app-btn-router>
</ion-content>
