<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil de Admin</ion-title>
    <ion-buttons slot="start">
      <app-btn-back page="/tab-admin/main-admin-page"></app-btn-back>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="card-title">Cambiar dirección de E-mail</ion-card-title>
      <ion-card-subtitle>Se enviará una notificación a su dirección anterior y a su correo nuevo para confirmar el cambio</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form action="">
        <ion-item class="input">
          <ion-icon slot="start" name="mail-outline"></ion-icon>
          <ion-input [(ngModel)]="emailInput" type="email" label="Inserte Nuevo E-mail" labelPlacement="floating" placeholder="alguien@correo.com"></ion-input>      
        </ion-item>
        <ion-button [disabled]="emailInput==''" (click)="confirmChangeEmail()" class="btn" type="submit">Cambiar E-mail</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="card-title">Cambiar Contraseña</ion-card-title>
      <ion-card-subtitle>Ingrese su actual contraseña y la nueva que desea cambiar. Al hacerlo se cerrará la sesión y tendrá que ingresar con su nueva contraseña</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="passwordForm">
        <ion-label *ngIf="this.passwordForm.get('pw1')!.touched && this.passwordForm.get('pw1')!.errors?.['hasLettersAndNumbers']" color="danger">Debe tener al menos una letra y un número<br></ion-label>
        <ion-label *ngIf="this.passwordForm.get('pw1')!.touched && this.passwordForm.get('pw1')!.errors?.['noSpaces']" color="danger">No debe incluir espacios<br></ion-label>
        <ion-label *ngIf="this.passwordForm.get('pw1')!.touched && this.passwordForm.get('pw1')!.errors?.['noProhibitedCharacters']" color="danger">No inlcuya caracteres especiales<br></ion-label>
        <ion-label *ngIf="this.passwordForm.get('pw1')!.touched && this.passwordForm.get('pw1')!.errors?.['noLatinCharacters']" color="danger">No inlcuya tildes ni Ñ <br></ion-label>
        <ion-label *ngIf="this.passwordForm.get('pw1')!.touched && this.passwordForm.get('pw1')!.errors?.['minLength8']" color="danger">Debe tener mínimo 8 carateres <br></ion-label>
        <ion-label *ngIf="!confirmationValid" color="danger">Las contraseñas no coinciden <br></ion-label>
        <ion-label *ngIf="!validOldPw" color="danger">La contraseña anterior no es correcta <br></ion-label>
        <ion-label *ngIf="!validNewPw" color="danger">La contraseña nueva no debe ser la misma que la anterior <br></ion-label>
        <ion-item class="input">
          <ion-icon slot="start" name="lock-closed-outline"></ion-icon>
          <ion-input formControlName="oldPw" [type]="typePw" label="Contraseña Actual" labelPlacement="floating"></ion-input>
          <ion-button (click)="showPw()" fill="clear" slot="end">
            <ion-icon size="large" name="eye-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-item class="input">
          <ion-input formControlName="pw1" type="password" label="Contraseña Nueva" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-item class="input">
          <ion-input formControlName="pw2" type="password" label="Repetir Contraseña" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-button [disabled]="!passwordForm.valid" (click)="confirmChangePw()" class="btn" type="submit">Cambiar Contraseña</ion-button>
      </form>
    </ion-card-content>
  </ion-card>
  <ion-button (click)="confirmLogout()" class="btn">
    <ion-icon size="large" slot="start" name="log-out-outline"></ion-icon>
    Cerrar Sesión</ion-button>
</ion-content>
