<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h6 class="content-txt">Introduzca sus datos de contacto</h6>
  <ion-card class="card">
    <form style="margin-top: 1rem;" [formGroup]="signForm" (ngSubmit)="submit()">
      <ion-label color="danger" *ngIf="this.signForm.get('firstName')!.touched && this.signForm.get('firstName')!.errors?.['required']">Debe llenar este campo</ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('firstName')!.touched && this.signForm.get('firstName')!.errors?.['pattern']">Solo use letras</ion-label>
      <ion-item class="input">
        <ion-input formControlName="firstName" type="text" labelPlacement="floating" label="Primer Nombre" placeholder="Juan"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('secondName')!.touched && this.signForm.get('secondName')!.errors?.['required']">Debe llenar este campo</ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('secondName')!.touched && this.signForm.get('secondName')!.errors?.['pattern']">Solo use letras</ion-label>
      <ion-item class="input">
        <ion-input formControlName="secondName" type="text" labelPlacement="floating" label="Segundo Nombre" placeholder="Alberto"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('lastName')!.touched && this.signForm.get('lastName')!.errors?.['required']">Debe llenar este campo</ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('lastName')!.touched && this.signForm.get('lastName')!.errors?.['pattern']">Solo use letras</ion-label>
      <ion-item class="input">
        <ion-input formControlName="lastName" labelPlacement="floating" label="Apellido Paterno" placeholder="Pérez"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('secondLastName')!.touched && this.signForm.get('secondLastName')!.errors?.['required']">Debe llenar este campo</ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('secondLastName')!.touched && this.signForm.get('secondLastName')!.errors?.['pattern']">Solo use letras</ion-label>
      <ion-item class="input">
        <ion-input formControlName="secondLastName" type="text" labelPlacement="floating" label="Apellido Materno" placeholder="López"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('run')!.touched && this.signForm.get('run')!.errors?.['required']">Debe llenar este campo</ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('run')!.touched && this.signForm.get('run')!.errors?.['pattern']">RUN no es válido (Debe incluir guión)</ion-label>
      <ion-item class="input">
        <ion-input formControlName="run" labelPlacement="floating" label="RUN" placeholder="11222333-4"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('email')!.touched && this.signForm.get('email')!.errors?.['required']">Debe llenar este campo<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('email')!.touched && this.signForm.get('email')!.errors?.['email']">Email no es válido<br></ion-label>
      <ion-item class="input">
        <ion-input formControlName="email" labelPlacement="floating" label="Correo" placeholder="alguien@correo.com"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('phone')!.touched && this.signForm.get('phone')!.errors?.['required']">Debe llenar este campo<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('phone')!.touched && this.signForm.get('phone')!.errors?.['pattern']">Sólo use números<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('phone')!.touched && this.signForm.get('phone')!.errors?.['minlength']">El número no es válido<br></ion-label>
      <ion-item class="input">
        <ion-input formControlName="phone" labelPlacement="floating" label="Teléfono/Celular (+56)" placeholder="123456789"></ion-input>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('pw1')!.touched && this.signForm.get('pw1')!.errors?.['required']">Debe llenar este campo<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('pw1')!.touched && this.signForm.get('pw1')!.errors?.['minLength8']">Debe tener al menos 8 caractéres<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('pw1')!.touched && this.signForm.get('pw1')!.errors?.['hasLettersAndNumbers']">Debe incluir al menos una letra y un número<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('pw1')!.touched && this.signForm.get('pw1')!.errors?.['noSpaces']">No debe incluir espacios</ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('pw1')!.touched && this.signForm.get('pw1')!.errors?.['noProhibitedCharacters']">No incluya caracteres especiales (Puede incluir -_.)<br></ion-label>
      <ion-label color="danger" *ngIf="this.signForm.get('pw1')!.touched && this.signForm.get('pw1')!.errors?.['noLatinCharacters']">No incluya letras con tildes ni "ñ"<br></ion-label>
      <ion-item class="input">
        <ion-input formControlName="pw1" labelPlacement="floating" [type]="typePw" label="Contraseña" placeholder=""></ion-input>
        <ion-button (click)="showPw()" fill="clear" slot="end">
          <ion-icon size="large" name="eye-outline"></ion-icon>
        </ion-button>
      </ion-item>

      <ion-label color="danger" *ngIf="this.signForm.get('pw2')!.touched && this.signForm.get('pw2')!.errors?.['required']">Debe llenar este campo</ion-label>
      <ion-label color="danger" *ngIf="signForm.errors?.['confirmPassword']">Las contraseñas deben coincidir</ion-label>
      <ion-item class="input">
        <ion-input formControlName="pw2" labelPlacement="floating" type="password" label="Repetir Contraseña" placeholder=""></ion-input>
      </ion-item>
      <ion-button class="btn" type="submit" [disabled]="!signForm.valid" (click)="submit()">Registrarse</ion-button>
    </form>
  </ion-card>
</ion-content>
