<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Recuperar contraseña</ion-title>
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h6 class="content-txt">Escriba su correo para recuperar su contraseña</h6>
  <ion-card *ngIf="!tokenSend" class="card">
    <ion-card-content>
      <ion-item class="input">
        <ion-icon slot="start" name="mail-outline"></ion-icon>
        <ion-input [(ngModel)]="userEmail" label="E-mail" labelPlacement="floating" placeholder="alguien@correo.com"></ion-input>
      </ion-item>
      <ion-button (click)="emailExists()" style="margin-top:1rem;" class="btn">Recuperar Contraseña</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="tokenSend && !tokenAproved" class="card">
    <ion-card-header>
      <ion-card-title class="card-title">Escriba el número enviado a su correo electrónico</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item class="input">
        <ion-input [(ngModel)]="tokenFromUser" type="number" label="Número de Recuperación" labelPlacement="floating" placeholder="0000"></ion-input>
      </ion-item>
      <ion-button (click)="checkToken()" class="btn">Verificar Número</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="tokenAproved && tokenSend" class="card">
    <ion-card-header>
      <ion-card-title class="card-title">Escriba su nueva contraseña</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="changePassword()">
        <ion-label *ngIf="this.forgotPasswordForm.get('pw1')!.touched && this.forgotPasswordForm.get('pw1')!.errors?.['required']" color="danger">Debe llenar este campo<br></ion-label>
        <ion-label *ngIf="this.forgotPasswordForm.get('pw1')!.touched && this.forgotPasswordForm.get('pw1')!.errors?.['hasLettersAndNumbers']" color="danger">Debe tener al menos una letra y un número<br></ion-label>
        <ion-label *ngIf="this.forgotPasswordForm.get('pw1')!.touched && this.forgotPasswordForm.get('pw1')!.errors?.['noSpaces']" color="danger">No debe incluir espacios<br></ion-label>
        <ion-label *ngIf="this.forgotPasswordForm.get('pw1')!.touched && this.forgotPasswordForm.get('pw1')!.errors?.['noProhibitedCharacters']" color="danger">No inlcuya caracteres especiales<br></ion-label>
        <ion-label *ngIf="this.forgotPasswordForm.get('pw1')!.touched && this.forgotPasswordForm.get('pw1')!.errors?.['noLatinCharacters']" color="danger">No inlcuya tildes ni Ñ <br></ion-label>
        <ion-label *ngIf="this.forgotPasswordForm.get('pw1')!.touched && this.forgotPasswordForm.get('pw1')!.errors?.['minLength8']" color="danger">Debe tener mínimo 8 carateres <br></ion-label>
        
        <ion-item class="input">
          <ion-input formControlName="pw1" [type]="typePw" label="Nueva Contraseña" labelPlacement="floating"></ion-input>
          <ion-button (click)="showPw()" fill="clear" slot="end">
            <ion-icon size="large" name="eye-outline"></ion-icon>
          </ion-button>
        </ion-item>
        <ion-label *ngIf="this.forgotPasswordForm.get('pw2')!.touched && this.forgotPasswordForm.get('pw2')!.errors?.['required']" color="danger">Debe llenar este campo<br></ion-label>
        <ion-label color="danger" *ngIf="this.forgotPasswordForm.errors?.['confirmPassword']">Las contraseñas deben coincidir</ion-label>
        <ion-item class="input">
          <ion-input formControlName="pw2" type="password" label="Confirmar Contraseña" labelPlacement="floating"></ion-input>
        </ion-item>
        <ion-button class="btn" [disabled]="!forgotPasswordForm.valid" (click)="changePassword()" type="submit">Cambiar Contraseña
          <ion-icon slot="start" name="key-outline"></ion-icon>
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
