<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <app-btn-back page="/tab-paciente/pagina-busqueda"></app-btn-back>
    </ion-buttons>
    <ion-title>{{ medicObj.nombreMedico }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card" style="min-height:5rem;">
    <ion-card-title class="card-title">{{ medicObj.nombreMedico }}</ion-card-title>
    <ion-card-subtitle>{{ medicObj.especialidad }}</ion-card-subtitle>
    <ion-card-subtitle>{{ medicObj.numrunMedico }}-{{ medicObj.dvrunMedico }}</ion-card-subtitle>
  </ion-card>
  <ion-card class="card">
    <ion-card-content>
      <ion-datetime
      [(ngModel)]="selectedDate" 
      presentation="date" 
      min="{{ minDate }}"
      locale="es-ES"
      (ionChange)="showList(selectedDate)"></ion-datetime>
    </ion-card-content>
  </ion-card>
  <ion-list class="item-list" *ngIf="hideList==false" lines="full">
    <ion-list-header>
      <h3>{{dateStr}}</h3>
    </ion-list-header>
    <ion-item *ngIf="!dayExists(selectedDate) || citasDisponibles.length==0">
      <ion-label>No hay horas para este día</ion-label>
    </ion-item>
    <ng-container *ngIf="dayExists(selectedDate) && citasDisponibles.length>0">
      <ion-item lines="full" class="item-list">
        <ion-label>Hora</ion-label>
        <ion-label>N° Box</ion-label>
        <ion-icon slot="end" name="caret-down-outline"></ion-icon>
      </ion-item>
      <ng-container *ngFor="let cita of citasDisponibles">
        <ion-item lines="full" class="item-list">
          <ion-label>{{ cita.hora }}</ion-label>
          <ion-label>{{ medicObj.boxMedico }}</ion-label>
          <ion-button (click)="confirmAlert(dateStr, cita.hora, medicObj.nombreMedico, medicObj.boxMedico, cita)" fill="clear" slot="end">
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ng-container>
    </ng-container>
  </ion-list>
</ion-content>
