<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-back-button color="light"></ion-back-button> -->
      <app-btn-back page="/tab-paciente/main-page"></app-btn-back>
    </ion-buttons>
    <ion-title>Agendar Hora</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <h6 class="content-txt">Seleccione la Especialidad o puede buscar por el nombre de su médico.</h6>
  <ion-card class="card">
    <ion-card-content>
      <ion-item class="input">
        <ion-select [(ngModel)]="filterSelect" (ionChange)="filterBySpeciality(filterSelect)" placeholder="Buscar por Especialidad">
          <ion-select-option *ngFor="let esp of especialidades" value="{{ esp.id }}">{{ esp.nomEsp }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item class="input">
        <ion-input [(ngModel)]="filterName" (change)="filterByName(filterName)" type="text" label="Buscar por médico" labelPlacement="floating"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>
      
      <ion-list lines="full" *ngIf="filteredList">
        <ion-item class="item-list" *ngFor="let medico of filteredList">
          <ion-label><b>{{ medico.nombreMedico }}</b></ion-label>
          <!-- <ion-label>{{ medico.especialidad }}</ion-label> -->
          <ion-button (click)="redirect(medico)" fill="clear" slot="end">
            <ion-icon size="large" name="add-circle-outline"></ion-icon>
          </ion-button>
          
        </ion-item>
      </ion-list>
</ion-content>
