/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
/*@import "@ionic/angular/css/palettes/dark.system.css"; */

/* Local variables */
/*:root {
    /*--ion-background-color: none;
    background-color:#fff;
}
*/
ion-content {
    --background : none;
    background-image: url("assets/img/medsch.png");
    background-color:rgb(234, 234, 234);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size : 20rem;
}

ion-header {
    --ion-background-color : none;
    background-color: rgb(47, 105, 147);
}

ion-title {
    color:#fff;
}

// ion-select {
//     margin:0 auto;
//     max-width:95%;
//     padding-left:1rem;
//     padding-right:1rem;
//     --ion-background-color:none;
//     background-color:#fff;
// }

ion-datetime {
    margin : 0 auto;
}
ion-item {
    max-width:300px;
    min-width:300px;
}
.content-txt {
    color:rgb(47, 105, 147);
    margin-left:1rem !important;
    margin-right:1rem !important;
    margin-top:2rem !important;
    margin-bottom:1rem !important;
}
.img-center {
    display:block;
    margin:0 auto;
    margin-top: 5rem;
    max-width:15rem;
}
.card {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    background-color:rgb(243, 250, 255);
}

.card-title {
    text-align: center;
    font-weight: 600;
    color:rgb(47, 105, 147);
}

.input {
    --inner-border-width: 0 0 0 0 !important;
    background-color : #fff;
    border-left: 2px solid rgb(47, 105, 147);
    margin-bottom: 1rem;
}

.btn {
    display: flex;
    justify-content: center;
    margin-left:2rem;
    margin-right:2rem;
    margin-bottom:1rem;
    --background:rgb(47, 105, 147);
}

ion-list {
    margin:0 auto !important;
    margin-top:2rem !important;
    max-width:95%;
}
ion-tab-bar {
    --background: rgb(47, 105, 147);
}

ion-tab-button {
    --color:rgb(201, 230, 251);
    --color-selected:white;
    --ripple-color: white;
    --padding-top:0.5 rem;
}

.item-list {
    max-width:100%;
}

.center-block {
    height:100%;
    margin:0;
    padding:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}