<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="main-admin-page">
      <ion-icon name="home-outline"></ion-icon>
      Inicio
    </ion-tab-button>
    <ion-tab-button tab="logs">
      <ion-icon name="reader-outline"></ion-icon>
      Logs
    </ion-tab-button>
    <ion-tab-button tab="manage-db">
      <ion-icon name="build-outline"></ion-icon>
      BD
    </ion-tab-button>
    <ion-tab-button tab="user-admin-profile">
      <ion-icon name="person-circle-outline"></ion-icon>
      Perfil
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>