.content-flex {
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.rows {
    display:flex;
    flex-direction: column;
}

.avatar-div {
    display:flex;
    align-items:center;
    justify-content:center;
}

.img-col {
    margin-right:1rem;
}

.img-display {
    max-height: 150px;
    max-width: 150px;
    border-radius:5.5rem;
}

.img-btn {
    position:absolute;
    top:75%;
    left:20%;
    width:3rem;
    height:3rem;
    --border-radius:2rem;
}
ion-card-content {
    min-width : 20rem;
}